/* about.css */

section {
    text-align: center;
    /* Center-align text within the section */
    padding: 20px;
    /* Add padding to top and bottom */
}

article>header {
    text-transform: uppercase;
    color: #ffffff;
}

article {
    background-color: #333333;
    padding: 1vw;
    border-radius: 20px;
    margin: 0 auto 0 auto;
}

article>p {
    text-align: justify;
    color: aliceblue;
}

figure>img {

    /* Adjust image size as needed */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 50%;
    /* Circular images */
    margin-bottom: 15px;
    /* Space below images */

}

.about-content p {
    font-size: 1.25em;
    /* Text size for paragraphs */
    line-height: 1.6;
}


@media only screen and (max-device-width: 480px) {

    article {
        width: 100%;
        margin: 5vh auto 0 auto;
    }

    article>header {
        font-size: 2em;
    }


    figure {
        width: 100%;
        margin: 0 auto 0 auto;
        padding: 2vw;
    }

    figure>img {
        width: 90%;
        margin: 0 auto 0 auto;
    }

}

@media only screen and (min-device-width: 480px) {

    section {
        display: flex;
        gap: 2vw;
    }

    article {
        width: 46%;
    }

    article>header {
        font-size: 4em;
    }

    figure {
        float: left;
        width: 35%;
        margin: 0 auto 0 0;
        padding: 1vw;
    }

    figure>img {
        width: 100%;
        box-shadow: 10px 5px #000000;
    }

}