body>header>div>h1 {
    color: #ffffff;
    font-size: 2.5rem;
}

body>header>div>h2 {
    font-size: 0.8rem;
}

@media only screen and (max-device-width: 480px) {
    body>header {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    body>header>div {
        width: 100vw;
    }

    body>header>img {
        width: 100vw;
    }

    body>header>div>h1 {
        width: 90vw;
        margin: 2vh auto 2vh auto;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
    }

    body>header>div>h2 {
        width: 90vw;
        margin: 2vh auto 2vh auto;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and (min-device-width: 480px) {
    body>header {
        width: 60vw;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 5vh auto 0 auto
    }

    body>header>img {
        height: 25vh;
    }

    body>header>div {
        padding: 10vh 0 0 0;
    }

    body>header>div>h1,
    body>header>div>h2 {
        white-space: nowrap;
        margin: 0;
    }
}