article>figure {
    background-color: #ffffff;
    border-radius: 10%;
}

@media only screen and (max-device-width: 480px) {

    article>figure {
        width: 60vw;
        margin: 0 auto 0 auto;
        text-align: center;
    }

}

@media only screen and (min-device-width: 480px) {

    article>figure>img {
        width: 10vw;
        margin: 1vw;
    }

}